@value makerGreen, makerLightPink,makerBlack, makerWhite from '../../common/colors.css';

.signup {
  width: 27em;
  height: 40em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
}

.title {
  text-indent: 1.5em;
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem;
}

input {
  width: 90%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px;
}

.item {
  margin-bottom: 0.5em;
}

.signup_button {
  width: 90%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px;
  font-weight: bold;
}

.check_button {
  width: 20%;
  height: 2.5em;
  font-size: 1rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px;
}

.check_input {
  width: 69%;
  height: 2.5em;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px;
}

.signup_button:hover {
  background: makerLightPink;
}

.check_button:hover {
  background: makerLightPink;
}

.button:hover {
  background: makerLightPink;
}
