@value makerGreen, makerLightPink,makerBlack, makerWhite from '../../common/colors.css';

.login {
  width: 30em;
  height: 23em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: makerWhite;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0.5rem;
}
.input {
  width: 90%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  border-radius: 20px;
  box-shadow: 5px 5px 15px -5px;
}
.item {
  margin-top: 0.5em;
}

.button_item {
  margin-bottom: 0.5em;
}
.login_button {
  width: 90%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  box-shadow: 5px 5px 15px -5px;
}

.id_button {
  width: 29%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  margin-right: 0.5em;
  box-shadow: 5px 5px 15px -5px;
}

.pw_button {
  width: 29%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  margin-right: 0.5em;
  box-shadow: 5px 5px 15px -5px;
}

.signup_button {
  width: 29%;
  height: 2.5em;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.2rem solid makerBlack;
  outline: 0;
  box-shadow: 5px 5px 15px -5px;
}

.id_button:hover {
  background-color: makerLightPink;
}
.login_button:hover {
  background-color: makerLightPink;
}
.signup_button:hover {
  background-color: makerLightPink;
}

.pw_button:hover {
  background-color: makerLightPink;
}
